.row {
    text-align: center;
    margin-top: 15px !important;
  }
  
  .active {
    border-bottom: 2px solid white;
  }
  
  label{
    left:  0px !important;
    width: 100%;
    text-align: right;
  }
  .login-forme{
    height: auto !important;
  }
  .imagContiner{
    width: 100%;
  }
  .imagContiner img{
    width: 100px;
  }
  .imagContiner label{
    width: 100%;
    text-align: center;
  }
  .col-lg-5{
    margin-right: 29.166665% ;
    margin-left: 29.166665% ;
  }
  .login-forme img{
    background-color: transparent !important;
    width: 180px;
    height: 180px;
  }
  
  
  