<div class="container">
  <div class="row">

    <div class="col-lg-5 col-xs-12 text-center" *ngIf="PageType != 'CodeSended'">
      <form role="form" class="login-forme">
        <div class="ImageCont">
          <img src="./assets/images/Mail-Send-icon.png" [alt]="'mail send'">
          <p> ارسال الكود الي البريد الالكتروني الخاص بك </p>
        </div>
        <div>
          <label> البريد الالكتروني الخاص بك </label>
          <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="mail">
        </div>
        <div class="login-submit">
          <button (click)="onSendClicked()"> ارسال الكود </button>
        </div>
        <button type="button" class="btn btn-link" (click)="PageType = 'CodeSended'"> تمتلك الكود ؟ </button>
      </form>
    </div>

    <div class="col-lg-5 col-xs-12 text-center" *ngIf="PageType == 'CodeSended'">
      <form role="form" class="login-forme">
        <div class="ImageCont">
          <img src="./assets/images/black-mail-icon-png-3.png" alt="code sent">
          <p> برجاء كتابه الكود الذي تم ارساله لك </p>
        </div>
        <div>
          <label> الكود الذي تم ارساله </label>
          <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="code">
        </div>
        <div>
          <label> كلمه المرور الجديده </label>
          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="new_password">
        </div>
        <div>
          <label> تأكيد كلمه المرور</label>
          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="new_password_confirm">
        </div>
        <div class="login-submit">
          <button (click)="onChangePassword()"> تغير كلمه المرور الان </button>
        </div>
        <button type="button" class="btn btn-link" (click)="PageType = ''"> ليس لديك كود ؟ </button>
      </form>
    </div>

  </div>
</div>
